.BlackBorder {
    border: 2px solid rgb(34, 34, 34);
}

.Dex-Container{
    border: 2px solid rgb(34, 34, 34);
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.Dex-Input{
    background: black;
    
}

.Search-Background{
    background-color: #FAF9F6;
}

.List-Loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.BlueButton{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 200px;
    background-color: rgb(42, 117, 187);
    background-size: cover;
    justify-content: end;

    &:hover{
        background-color: rgb(98, 145, 189);
        cursor: pointer;
    }
}